<!-- TO DO: Make badass seeds -->
<!-- TO DO: Research cool javascript things to do -->
<!-- TO DO: Host the app online -->
<!-- TO DO: Make megaman run across the screen -->
<!-- TO DO: Wrap it in a progressive web app -->
<!-- TO DO: Fix select2 -->
<!-- TO DO: Make URL path work for javascript -->
<div class="index-button-bar d-flex">
  <% if user_signed_in? %>
    <%= link_to "Add a New Drink",  new_cocktail_path, class: "arcade-btn lg-btn flex-grow-1 left-btn"%>
  <% else %>
    <%= link_to "Create Account",  new_user_registration_path, class: "arcade-btn lg-btn flex-grow-1 left-btn"%>
  <% end %>

  <%= link_to 'Download Drink List',  api_v1_cocktails_path, class: "arcade-btn lg-btn flex-grow-1" %>
</div>

<div class='cartridge-container justify-content-center'>
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do%>
      <%= render 'shared/cartridge', cocktail: cocktail %>
    <% end %>
  <% end %>
</div>





