
<div class="index-button-bar d-flex">
  <% if user_signed_in? %>
    <%= link_to "Add a New Drink",  new_cocktail_path, class: "arcade-btn lg-btn flex-grow-1 mr-5"%>
  <% else %>
    <%= link_to "Create Account",  new_user_registration_path, class: "arcade-btn lg-btn flex-grow-1 mr-5"%>
  <% end %>

  <%= link_to 'Download Drink List',  api_v1_cocktails_path, class: "arcade-btn lg-btn flex-grow-1" %>
</div>

<div class='cartridge-container d-flex flex-wrap justify-content-between'>
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do%>
      <%= render 'shared/cartridge', cocktail: cocktail %>
    <% end %>
  <% end %>
</div>





