
<div class="standard-container">

  <h1 class="standard-label">Add a Cocktail!</h1>

  <%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, :input_html => { class: 'form-arcade-input mt-4 mb-4' }, label: false, placeholder: 'Name Your Cocktail' %>
  <%= f.input :photo, :input_html => { class: 'form-arcade-file' }, :label_html => { class: 'form-arcade-label'} %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "SUBMIT COCKTAIL", class: "arcade-btn stretch-btn mt-3" %>
  <% end %>
</div>
