<h1>Sweet Tits Show  Page</h1>


<h1><%= @cocktail.name %></h1>

<img src="<%= @cocktail.photo %>" alt="cocktail photo">
<% @doses.each do |dose| %>
  <p><%= dose.description %> <%= dose.ingredient.name %></p>
<% end %>

<% @cocktail.reviews.each do |review| %>
  <p><%= review.text %></p>
  <p><%= review.rating %></p>
<% end %>

<%= render 'shared/review_form' %>
