<h1>Sweet Tits Show  Page</h1>


<h1><%= @cocktail.name %></h1>

<img src="<%= @cocktail.photo %>" alt="cocktail photo">
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<% @cocktail.reviews.each do |review| %>
  <p><%= review.text %></p>
  <p><%= review.rating %></p>
<% end %>

<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.input :rating %>
  <%= f.input :text %>
  <%= f.submit "Add Your Review", class: "btn btn-primary" %>
<% end %>
