<div class="show-container">
  <div class="drink-info row">
    <div class="left-side col-4">
      <img src="<%= @cocktail.photo %>" alt="cocktail photo" class= "drink-info-photo">
      <h1 class="drink-info-label"><%= @cocktail.name %></h1>
      <div class="rating-stars d-flex justify-content-center">
        <% @cocktail.avg_reviews.round.times do %>
        <span>
          <%= image_tag "star.png", alt: "X", class: 'star-lg mx-2' %>
        </span>
        <% end %>
      </div>
    </div>
    <div class="right-side col-8 d-flex flex-column">
      <div class="drink-ingredients">
        <% @cocktail.doses.each do |dose| %>
        <p class="drink-info-text">> INSERT <%= dose.description.upcase %> <%= dose.ingredient.name.upcase %>
          <% if current_user == @cocktail.user %>
          <%= link_to 'X'.html_safe, dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button'  %>
          </%>
          <% end %>
        </p>
        <% end %>

        <% if current_user == @cocktail.user %>
        <span class="drink-info-text">> INSERT </span>
        <button class="add-ingredient" onclick="toggleForm()">NEW INGREDIENT</button>
        <%= render 'shared/dose_form' %>
        <% end %>
      </div>
      <%= link_to 'DOWNLOAD DRINK',  api_v1_cocktail_path(@cocktail), class: "arcade-btn stretch-btn mt-4" %>
    </div>
  </div>

  <%= render 'shared/review_form' %>

  <h1 class="review-label">PAST REVIEWS</h1>

  <% @cocktail.reviews.each do |review| %>
  <div class="review mt-5">
    <% review.rating.times do %>
    <span>
      <%= image_tag "star.png", alt: "X", class: 'star-lg mx-2' %>
    </span>
    <% end %>
    <p class="drink-info-text"><%= review.text.upcase %></p>
  </div>
  <% end %>


</div>




