<!DOCTYPE html>
<html>
<head>
  <title>RailsTheSearchBar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- FONT IMPORT -->
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <% unless current_page?(root_path) %>
  <%= render 'shared/navbar' %>
  <% end %>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag 'application' %>
  <script>
    const toggleForm = () => {
      var ingredientForm = document.getElementById("ingredient-form");
      if (ingredientForm.style.display === "block") {
        ingredientForm.style.display = "none";
      } else {
        ingredientForm.style.display = "block";
      }
    }
  </script>
  <%= render 'shared/flashes' %>
</body>
</html>
