<!DOCTYPE html>
<html>
<head>
  <title>RailsTheSearchBar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- META TAGS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- FONT IMPORT -->
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <% unless current_page?(root_path) %>
  <%= render 'shared/navbar' %>
  <% end %>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag 'application' %>
  <script>
    // For Toggling the Dose Form
    var toggleForm = () => {
      var ingredientForm = document.getElementById("ingredient-form");
      if (ingredientForm.style.display === "block") {
        ingredientForm.style.display = "none";
      } else {
        ingredientForm.style.display = "block";
      }
    }

    const blackscreen = document.querySelector(".button-splash");

    var moveZero = () => {
      console.log("we in it")
      var elem = document.querySelector(".zero");
      elem.style.display = "block";
      var pos = -10;
      var id = setInterval(frame, 60);
      function frame() {
        if (pos == 100) {
          clearInterval(id);
          elem.style.display = "none";
        } else {
          pos++;
          elem.style.left = pos + 'vw';
        }
      }
    }
    // Javascript side random color picker
    // var labels = document.querySelectorAll('.label')
    // var colors = [
    // '#ff0000', '#00ff00', '#0000ff',
    // '#ff3333', '#ffff00', '#ff6600' ];
    // for(var i=0; i < labels.length; i++){
    //   var random_color = colors[Math.floor(Math.random() * colors.length)];
    //   labels[i].style.backgroundColor = random_color
    // }
  </script>
  <%= render 'shared/flashes' %>
</body>
</html>
